﻿.ntf-success {
    background-color: rgb(93, 164, 35);
}

.ntf-fail {
    background-color: rgb(198, 15, 19);
}

.ntf-loading {
    background-color: #4ed1e5;
}

.ntf-fixed {
    position: fixed;
    width: 100%;
}

.ntf-centralize {
    bottom: 55% !important;
}

.ntf-default {
    bottom: 0;
}

.top-z-index {
    z-index: 100000;
}

#notification {
    width: 100%;
    //@include z-index(notification);
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 5px;
    text-align: left;
    border: 1px solid black;
    background-color: inherit;

    #notification-img {
        height: 40px;
    }

    .notification-dismiss {
        cursor: pointer;
        float: right;
        position: relative;
        font-size: 15px;

        .notification-anchor {
            color: white;
            font-weight: bold;
            position: absolute;
            right: 5px;
        }
    }
}