﻿body {
  margin: 0px;
  min-height: 100vh;
  height: 100%;
  font-family: "Poiret One", cursive !important;
  font-weight: bold !important;
  font-size: 17px !important;
  background-color: antiquewhite; }

button {
  font-family: "Poiret One", cursive !important;
  font-weight: bold !important;
  font-size: 17px !important; }

textarea, input {
  background-color: #fafafa; }
  textarea:focus, input:focus {
    outline: none; }

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: white;
  padding-left: 15px; }
  header .my-header {
    height: 30px; }
    header .my-header .icon {
      float: left; }
    header .my-header .my-header-author {
      float: right;
      padding-right: 15px; }

.main {
  padding: 12px; }

.content {
  padding-top: 55px; }

.my-text-input {
  width: 100%; }

.my-frame {
  margin-top: 13px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: white; }

textarea {
  resize: vertical; }

.overflow-break {
  overflow-wrap: break-word; }

.my-keys {
  width: 100%;
  overflow: auto; }

.keys-row {
  overflow: auto !important;
  height: 100% !important;
  vertical-align: middle;
  padding: 3px; }

.btn-multi-line {
  white-space: normal !important;
  word-wrap: break-word; }

.align-right {
  text-align: right; }

.width-100 {
  width: 100%; }

.my-table-of-keys {
  overflow: auto;
  text-align: center;
  border: hidden;
  margin-top: 5px; }
  .my-table-of-keys {
    display: flex;
    justify-content: center; }
  .my-table-of-keys tr:first-child td:not(:first-child) {
    background-color: rgba(0, 0, 0, 0.045) !important; }
  .my-table-of-keys tr td:first-child {
    background-color: rgba(0, 0, 0, 0.045) !important; }
  .my-table-of-keys tr td {
    max-width: 40px !important;
    min-width: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
    height: 40px !important; }

.text-larger {
  font-size: larger; }

.flt-right {
  float: right; }

.myFrameHover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }

.width-124 {
  width: 124px; }

.table-simple {
  background-color: white; }
  .table-simple tbody tr td {
    width: initial; }
  .table-simple tbody tr td:first-child {
    background-color: gainsboro; }
  .table-simple tbody tr:first-child {
    background-color: gainsboro; }

.link-simple {
  text-decoration: underline;
  color: blue; }

.collapse-simple {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 7px;
  margin-bottom: 5px;
  padding: 5px;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.4);
  border: 1px solid;
  border-color: grey;
  background-color: aliceblue;
  border-radius: 5px; }

.min-height-enigma-input {
  min-height: 150px !important;
  height: 100%; }

.setting-block {
  border: 1px dashed rgba(100, 100, 100, 0.3);
  background-color: #f0f0f0; }

