﻿<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<div ng-controller="doubleShiftCtrl">
	<div class="main container">
		<div class="content">
			<input id="toggle-mod"
			       type="checkbox"
			       checked data-toggle="toggle"
			       data-on="Шифратор"
			       data-off="Дешифратор"
			       onstyle="primary"
			       offstyle="info">

			<my-input-block text-input="model.TextInput"
			                message-to-user="model.MessageToUserOnInput"></my-input-block>
			<my-xy-cypher-keys keys-x="model.KeysX"
			                   keys-y="model.KeysY"
			                   shuffle-keys-x-callback="model.ShuffleKeysX()"
			                   shuffle-keys-y-callback="model.ShuffleKeysY()"
			                   copy-keys-to-clipboard="model.CopyKeysToClipboard()"></my-xy-cypher-keys>

			<my-xy-keys-input keys-x-input="model.KeysXInput"
			                  keys-y-input="model.KeysYInput"
			                  apply-keys-x-callback="model.ApplyKeysX()"
			                  apply-keys-y-callback="model.ApplyKeysY()"></my-xy-keys-input>


			<my-cypher-answer answer="model.Answer"
			                  copy-answer-to-clipboard="model.CopyAnswerToClipboard()"
			                  title="Результат шифрования: "
			                  ng-if="!model.DeCypherMod"></my-cypher-answer>
			<my-cypher-answer answer="model.AnswerSourceText"
			                  copy-answer-to-clipboard="model.CopyAnswerToClipboard()"
			                  title="Результат дешифрования: "
			                  ng-if="model.DeCypherMod"></my-cypher-answer>
			<my-double-shift-table table="model.ViewTable"
			                       animate="model.Animate"
			                       animate-button-disabled="model.AnimateButtonDisabled"></my-double-shift-table>
		</div>
	</div>
	
	<my-notification id="notification_global"
					 message="model.Notification.Global.Instance.Message"
					 img-alt="model.Notification.Global.Instance.ImgAlt"
					 my-style="model.Notification.Global.Instance.Style"
					 img-path="model.Notification.Global.Instance.ImgPath"
					 hide-action="model.Notification.Hide"
					 key="model.Notification.Global.Key"
					 class="top-z-index"></my-notification>
</div>


