﻿<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<div ng-controller="enigmaCtrl">
<div class="main container">
	<div class="content">
			
		<my-enigma-specification></my-enigma-specification>
		
		<!-- Enigma setting -->
		<div class="my-frame" ng-class="{myFrameHover: hover}"
		     ng-mouseenter="hover = true"
		     ng-mouseleave="hover = false">
			
			<p>
				<div class="text-larger">
					Настройка энигмы:
				</div>
			</p>
			<p>
				<div class="setting-block">
					<div class="text-larger">
						{{model.RotorsStates()[0].Name}} [{{model.RotorsStates()[0].GetSelectedLetter()}}]
					</div>
					Версия ротора №1:
					<select ng-model="rotor1" ng-change="model.UpdateRotor(0, rotor1)">
						<option ng-repeat="x in model.GetRotorsDictionary()">{{x}}</option>
					</select>
					Начальное положение:
					<select ng-model="rotorLetter1" ng-change="model.UpdateSelectedLetter(0, rotorLetter1)">
						<option ng-repeat="x in model.Alphabet">{{x}}</option>
					</select>
				</div>
			</p>
			<p>
				<div class="setting-block">
					<div class="text-larger">
						{{model.RotorsStates()[1].Name}} [{{model.RotorsStates()[1].GetSelectedLetter()}}]
					</div>
					Версия ротора №2:
					<select ng-model="rotor2" ng-change="model.UpdateRotor(1, rotor2)">
						<option ng-repeat="x in model.GetRotorsDictionary()">{{x}}</option>
					</select>
					Начальное положение:
					<select ng-model="rotorLetter2" ng-change="model.UpdateSelectedLetter(1, rotorLetter2)">
						<option ng-repeat="x in model.Alphabet">{{x}}</option>
					</select>
				</div>
			</p>
			<p>
				<div class="setting-block">
					<div class="text-larger">
						{{model.RotorsStates()[2].Name}} [{{model.RotorsStates()[2].GetSelectedLetter()}}]
					</div>
					Версия ротора №3:
					<select ng-model="rotor3" ng-change="model.UpdateRotor(2, rotor3)">
						<option ng-repeat="x in model.GetRotorsDictionary()">{{x}}</option>
					</select>
					Начальное положение:
					<select ng-model="rotorLetter3" ng-change="model.UpdateSelectedLetter(2, rotorLetter3)">
						<option ng-repeat="x in model.Alphabet">{{x}}</option>
					</select>
				</div>
			</p>
			<p>
				<div class="setting-block">
					<div class="text-larger">
						{{model.ReflectorState().Name}}
					</div>
					Версия рефлектора:
					<select ng-model="reflector1" ng-change="model.UpdateReflector(reflector1)">
						<option ng-repeat="x in model.GetReflectorsDictionary()">{{x}}</option>
					</select>
				</div>
			</p>

		</div>
		

		<!-- Input block with constraints -->
		<div class="my-frame" ng-class="{myFrameHover: hover}"
		     ng-mouseenter="hover = true"
		     ng-mouseleave="hover = false">

			<p>
				<div class="text-larger">
					{{model.MessageToUserOnInput}}
				</div>
			</p>
			<p>
				<textarea class="my-text-input min-height-enigma-input" placeholder="Сюда текст для зашифровки :)" ng-model="model.TextInput"></textarea>
			</p>

			Длина сообщения: [{{model.TextInput.length}}]
		</div>
		<!-- END Input block with constraints -->
			
		<!-- Answer -->
		<div class="my-frame my-keys" ng-class="{myFrameHover: hover}"
			 ng-mouseenter="hover = true"
			 ng-mouseleave="hover = false">

			<p>
				<div class="text-larger">
					Результат:
				</div>
			</p>
			<p>
				<textarea class="my-text-input min-height-enigma-input" ng-bind="model.Answer" disabled></textarea>
			</p>
		</div>
		
		<!-- End Answer -->
			
	</div>
	</div>

	<my-notification id="notification_global"
	                 message="model.Notification.Global.Instance.Message"
	                 img-alt="model.Notification.Global.Instance.ImgAlt"
	                 my-style="model.Notification.Global.Instance.Style"
	                 img-path="model.Notification.Global.Instance.ImgPath"
	                 hide-action="model.Notification.Hide"
	                 key="model.Notification.Global.Key"
	                 class="top-z-index"></my-notification>
</div>
