﻿<header ng-class="{myFrameHover: hover}"
					  ng-mouseenter="hover = true"
    ng-mouseleave="hover = false">
	<div class="my-header">
		<button type="button" class="my-header-title btn btn-primary" ng-click="$ctrl.setLabIndex(0)" autofocus>
			Лаба 1: 
			<span class="icon glyphicon glyphicon-eye-close" aria-hidden="true"></span>
			{{$ctrl.titles[0]}}
		</button>
		<button type="button" class="my-header-title btn btn-primary" ng-click="$ctrl.setLabIndex(1)">
			Лаба 2:
			<span class="icon glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
			{{$ctrl.titles[1]}}
		</button>
		<button type="button" class="my-header-title btn btn-primary" ng-click="$ctrl.setLabIndex(2)" disabled>
			Лаба 3:
			{{$ctrl.titles[2]}}
		</button>
		<span class="my-header-author">{{$ctrl.author}}</span>
	</div>
</header>