﻿<div class="my-frame my-keys" ng-class="{myFrameHover: hover}"
					  ng-mouseenter="hover = true"
    ng-mouseleave="hover = false">
	<div class="col-md-10">

		<div class="keys-row">

			<!-- Keys X -->
			<div class="col-md-2">
				<span class="text-larger">{{$ctrl.title}}</span>
			</div>
			<div class="col-md-10">
				<input class="width-100" type="text" readonly value="{{$ctrl.answer}}">
			</div>

		</div>

	</div>

	<!-- Copy to Clipboard button -->
	<div class="col-md-2 keys-row">
		<button type="button" class="btn btn-success btn-multi-line" ng-click="$ctrl.copyAnswerToClipboard()">
			<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
			Скопировать в буфер обмена
		</button>
	</div>
</div>