﻿<div class="my-frame" ng-class="{myFrameHover: hover}"
					  ng-mouseenter="hover = true"
    ng-mouseleave="hover = false">
	<button
		class="flt-right btn btn-primary"
		ng-click="$ctrl.animate()"
		ng-disabled="$ctrl.animateButtonDisabled">
		<span id="MyButtonTablePlay" class="glyphicon glyphicon-play" aria-hidden="true"></span> Воспроизвести ещё раз
	</button>
	<table id="MyTable" class="table table-bordered my-table-of-keys">
		<tr ng-repeat="y in $ctrl.table[0] track by $index">
			<td ng-repeat="x in $ctrl.table[0] track by $index">
				<div>{{$ctrl.table[$parent.$index][$index]}}</div></td>
		</tr>
	</table>
</div>