﻿<a href="#specification" class="btn btn-info" data-toggle="collapse">Спецификация Энигмы</a>
<div id="specification" class="collapse collapse-simple">
	<a class="link-simple" href="https://www.codesandciphers.org.uk/enigma/rotorspec.htm">Ссылка на источник</a>
	<label>Армейская версия «Энигмы» использовала только 26 букв. Прочие символы заменялись редкими комбинациями букв. Пробел пропускался либо заменялся на «X». Символ «X» в основном использовался для обозначения точки либо конца сообщения.</label>
	
	<label> <a href="http://enigmaco.de/enigma/enigma.html">Здесь</a> можно произвести проверку на работоспособность.</label>
	
	<table border="1" cellpadding="1" class="table-simple">
		<caption>Роторы Энигмы:</caption>
		<tbody>
		<tr><td width="70"><b>INPUT</b></td> <td><b>A</b></td> <td><b>B</b></td> <td><b>C</b></td> <td><b>D</b></td> <td><b>E</b></td> <td><b>F</b></td> <td><b>G</b></td> <td><b>H</b></td> <td><b>I</b></td> <td><b>J</b></td> <td><b>K</b></td> <td><b>L</b></td><td><b>M</b></td> <td><b>N</b></td> <td><b>O</b></td> <td><b>P</b></td> <td><b>Q</b></td> <td><b>R</b></td> <td><b>S</b></td> <td><b>T</b></td> <td><b>U</b></td> <td><b>V</b></td> <td><b>W</b></td><td><b>X</b></td> <td><b>Y</b></td> <td><b>Z</b></td>  </tr>

		<tr><td width="70">Rotor I</td> <td>E</td> <td>K</td> <td>M</td> <td>F</td> <td>L</td> <td>G</td> <td>D</td> <td>Q</td> <td>V</td> <td>Z</td> <td>N</td> <td>T</td><td>O</td> <td>W</td> <td>Y</td> <td>H</td> <td>X</td> <td>U</td> <td>S</td> <td>P</td> <td>A</td> <td>I</td> <td>B</td><td>R</td> <td>C</td> <td>J</td>  </tr>

		<tr><td width="70">Rotor II</td> <td>A</td> <td>J</td> <td>D</td> <td>K</td> <td>S</td> <td>I</td> <td>R</td> <td>U</td> <td>X</td> <td>B</td> <td>L</td> <td>H</td><td>W</td> <td>T</td> <td>M</td> <td>C</td> <td>Q</td> <td>G</td> <td>Z</td> <td>N</td> <td>P</td> <td>Y</td> <td>F</td><td>V</td> <td>O</td> <td>E</td>  </tr>

		<tr><td width="70">Rotor III</td> <td>B</td> <td>D</td> <td>F</td> <td>H</td> <td>J</td> <td>L</td> <td>C</td> <td>P</td> <td>R</td> <td>T</td> <td>X</td> <td>V</td><td>Z</td> <td>N</td> <td>Y</td> <td>E</td> <td>I</td> <td>W</td> <td>G</td> <td>A</td> <td>K</td> <td>M</td> <td>U</td><td>S</td> <td>Q</td> <td>O</td>  </tr>

		<tr><td width="70">Rotor IV</td> <td>E</td> <td>S</td> <td>O</td> <td>V</td> <td>P</td> <td>Z</td> <td>J</td> <td>A</td> <td>Y</td> <td>Q</td> <td>U</td> <td>I</td><td>R</td> <td>H</td> <td>X</td> <td>L</td> <td>N</td> <td>F</td> <td>T</td> <td>G</td> <td>K</td> <td>D</td> <td>C</td><td>M</td> <td>W</td> <td>B</td>  </tr>

		<tr><td width="70">Rotor V</td> <td>V</td> <td>Z</td> <td>B</td> <td>R</td> <td>G</td> <td>I</td> <td>T</td> <td>Y</td> <td>U</td> <td>P</td> <td>S</td> <td>D</td><td>N</td> <td>H</td> <td>L</td> <td>X</td> <td>A</td> <td>W</td> <td>M</td> <td>J</td> <td>Q</td> <td>O</td> <td>F</td><td>E</td> <td>C</td> <td>K</td>  </tr>

		<tr><td width="70">Rotor VI</td> <td>J</td> <td>P</td> <td>G</td> <td>V</td> <td>O</td> <td>U</td> <td>M</td> <td>F</td> <td>Y</td> <td>Q</td> <td>B</td> <td>E</td><td>N</td> <td>H</td> <td>Z</td> <td>R</td> <td>D</td> <td>K</td> <td>A</td> <td>S</td> <td>X</td> <td>L</td> <td>I</td><td>C</td> <td>T</td> <td>W</td>  </tr>

		<tr><td width="70">Rotor VII</td> <td>N</td> <td>Z</td> <td>J</td> <td>H</td> <td>G</td> <td>R</td> <td>C</td> <td>X</td> <td>M</td> <td>Y</td> <td>S</td> <td>W</td><td>B</td> <td>O</td> <td>U</td> <td>F</td> <td>A</td> <td>I</td> <td>V</td> <td>L</td> <td>P</td> <td>E</td> <td>K</td><td>Q</td> <td>D</td> <td>T</td>  </tr>

		<tr><td width="70">Rotor VIII</td> <td>F</td> <td>K</td> <td>Q</td> <td>H</td> <td>T</td> <td>L</td> <td>X</td> <td>O</td> <td>C</td> <td>B</td> <td>J</td> <td>S</td><td>P</td> <td>D</td> <td>Z</td> <td>R</td> <td>A</td> <td>M</td> <td>E</td> <td>W</td> <td>N</td> <td>I</td> <td>U</td><td>Y</td> <td>G</td> <td>V</td>  </tr>
	
		</tbody>
	</table>
	<table border="1" cellpadding="1" class="table-simple">
		<caption>Рефлекторы Энигмы:</caption>
		<tbody>
		<tr><td>reflector B</td><td>(AY) (BR) (CU) (DH) (EQ) (FS) (GL) (IP) (JX) (KN) (MO) (TZ)  (VW)</td></tr>
		<tr><td>reflector C</td><td>(AF) (BV) (CP) (DJ) (EI) (GO) (HY) (KR) (LZ) (MX) (NW) (TQ)  (SU)</td></tr>
		<tr><td>reflector B Dünn</td><td>(AE) (BN) (CK) (DQ) (FU) (GY) (HW) (IJ) (LO) (MP) (RX) (SZ) (TV)  </td></tr>
		<tr><td>reflector C Dünn</td><td>(AR) (BD) (CO) (EJ) (FN) (GT) (HK) (IV) (LM) (PW) (QZ) (SX)  (UY)</td></tr>
		</tbody>
	</table>
	<table border="1" cellpadding="6" class="table-simple">
		<caption>Переключающий механизм роторов:</caption>
		<tbody>
		<tr><td>Rotor I</td><td>at R</td></tr>
		<tr><td>Rotor II</td><td>at F</td></tr>
		<tr><td>Rotor III</td><td>at W</td></tr>
		<tr><td>Rotor IV</td><td>at K</td></tr>
		<tr><td>Rotor V</td><td>at A</td></tr>
		<tr><td>Rotors VI, VII and VIII</td><td>at A and at N</td></tr>
		</tbody>
	</table>
</div>

