﻿<div class="my-frame" ng-class="{myFrameHover: hover}"
					  ng-mouseenter="hover = true"
    ng-mouseleave="hover = false">
	
	<p>
		<div class="text-larger">
			{{$ctrl.messageToUser}}
		</div>
	</p>
	<p>
		<textarea class="my-text-input" placeholder="Сюда текст для зашифровки :)" ng-model="$ctrl.textInput">		
	</textarea>
	</p>

	Длина сообщения: [{{$ctrl.textInput.length}}]
</div>