﻿<div id="notification" ng-if="$ctrl.myStyle !== 0">
	<img id="notification-img" src="{{$ctrl.imgPath}}" alt="{{$ctrl.imgAlt}}">
	<span class="notification-dismiss">
		<a class="notification-anchor" ng-click="$ctrl.hideAction($ctrl.key)">x</a>
	</span>
	Message:
	{{$ctrl.message}}
</div>