﻿<div class="my-frame my-keys" ng-class="{myFrameHover: hover}"
	 ng-mouseenter="hover = true"
	 ng-mouseleave="hover = false">
	<div class="col-md-12"  style="padding-right: 0;">

		<div class="keys-row">

			<!-- Keys X -->
			<div class="col-md-3">
				<span class="text-larger">Есть свои ключи X?:</span>
			</div>
			<div class="col-md-6">
				<input class="width-100" type="text" placeholder="Через запятую плз" ng-model="$ctrl.keysXInput">
			</div>

			<!-- Shuffle button -->
			<div class="col-md-3 align-right" style="padding-right: 0;">
				<button type="button" class="btn btn-warning" ng-click="$ctrl.applyKeysXCallback()">
					<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
					Внедрить
				</button>
			</div>
		</div>

		<div class="keys-row">

			<!-- Keys Y -->
			<div class="col-md-3">
				<span class="text-larger">Есть свои ключи Y?:</span>
			</div>
			<div class="col-md-6">
				<input class="width-100" type="text" placeholder="Через запятую плз" ng-model="$ctrl.keysYInput">
			</div>

			<!-- Shuffle button -->
			<div class="col-md-3 align-right" style="padding-right: 0;">
				<button type="button" class="btn btn-warning" ng-click="$ctrl.applyKeysYCallback()">
					<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
					Внедрить
				</button>
			</div>
		</div>
	</div>
</div>