﻿<div class="my-frame my-keys" ng-class="{myFrameHover: hover}"
     ng-mouseenter="hover = true"
     ng-mouseleave="hover = false">
	<div class="col-md-10">

		<div class="keys-row">

			<!-- Keys X -->
			<div class="col-md-2">
				<span class="text-larger">Ключи X:</span>
			</div>
			<div class="col-md-7">
				<input class="width-100" type="text" readonly placeholder="Ключи оси X будут здесь" value={{$ctrl.keysX}}>
			</div>

			<!-- Shuffle button -->
			<div class="col-md-3 align-right">
				<button type="button" class="btn btn-info btn-multi-line" ng-click="$ctrl.shuffleKeysXCallback()">
					<span class="glyphicon glyphicon-random" aria-hidden="true"></span>
					Перемешать
				</button>
			</div>
		</div>

		<div class="keys-row">

			<!-- Keys Y -->
			<div class="col-md-2">
				<span class="text-larger">Ключи Y:</span>
			</div>
			<div class="col-md-7">
				<input class="width-100" type="text" readonly placeholder="Ключи оси Y будут здесь" value={{$ctrl.keysY}}>
			</div>

			<!-- Shuffle button -->
			<div class="col-md-3 align-right">
				<button type="button" class="btn btn-info btn-multi-line" ng-click="$ctrl.shuffleKeysYCallback()">
					<span class="glyphicon glyphicon-random" aria-hidden="true"></span>
					Перемешать
				</button>
			</div>
		</div>
	</div>
	
	<!-- Copy to Clipboard button -->
	<div class="col-md-2 keys-row">
		<button id="btnCopyKeys" type="button" class="btn btn-success btn-multi-line" ng-click="$ctrl.copyKeysToClipboard()">
			<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
			Скопировать ключи в буфер обмена
		</button>
	</div>
</div>